@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

body {
  font-family: 'Kosugi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main */
main {
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

main h1,h2,h3 {
  margin: auto;
}

main h1 {
  font-size: 30vw;
}

main h2 {
  font-size: 1.8rem;
}

main h3 {
  font-size: 1.5rem;
}

@media screen and (min-width: 721px) {
  main h1 {
    font-size: 30vw;
  }
  main h2 {
    font-size: 4rem;
  }
}

/* header */
header p, li, ul{
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 721px) {
  header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
nav {
  display: none;
}

nav * {
  display: flex;
}

@media screen and (min-width: 721px) {
  nav {
    display: 1 1 flex;
    display: block;
  }

  nav li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}