@import url('https://fonts.googleapis.com/css2?family=Kosugi&display=swap');

.normal html {
  background-color: #f0f0f0;
  max-height: 100%;
}

.normal body {
  font-family: 'Kosugi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.normal code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main */
.normal main {
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

.normal main h1,h2,h3 {
  margin: auto;
}

.normal main h1 {
  font-size: 30vw;
  color: #212121;
}

.normal main h2 {
  font-size: 1.5rem;
  color: #b3b3b3;
}

.normal main .remaining-text {
  display: flex;
}

.normal main h3 {
  font-size: 1.7rem;
  color: #b3b3b3;
}

.normal main .remaining{
  font-size: 8vh;
  color: #f02648;
}

@media screen and (min-width: 721px) {
  .normal main h1 {
    font-size: 27vw;
  }
  .normal main h2 {
    font-size: 4rem;
  }

  .normal main .remaining{
    font-size: 10vh;
  }
}

/* header */
.normal header p, li, ul{
  margin: 0;
  padding: 0;
}

.normal header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal header .logo {
  padding: 8px;
  font-size: 50px;
}

@media screen and (min-width: 721px) {
  .normal header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
.normal nav {
  display: none;
}

.normal nav * {
  display: flex;
}

@media screen and (min-width: 721px) {
  .normal nav {
    display: 1 1 flex;
    display: block;
  }

  .normal nav li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}