@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

.rockn-roll html {
  background-color: #f0f0f0;
  max-height: 100%;
  
}

body {
  font-family: 'RocknRoll One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

.rockn-roll code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main */
.rockn-roll main {
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

.rockn-roll main h1,h2,h3 {
  margin: auto;
}

.rockn-roll main h1 {
  font-size: 28vw;
  color: #212121;
}

.rockn-roll main h2 {
  font-size: 1.5rem;
  color: #b3b3b3;
}

.rockn-roll main .remaining-text {
  display: flex;
}

.rockn-roll main h3 {
  font-size: 1.7rem;
  color: #b3b3b3;
}

.rockn-roll main .remaining{
  font-size: 8vh;
  color: #f02648;
}

@media screen and (min-width: 721px) {
  .rockn-roll main h1 {
    font-size: 25vw;
  }
  .rockn-roll main h2 {
    font-size: 4rem;
  }

  .rockn-roll main .remaining{
    font-size: 10vh;
  }
}

/* header */
.rockn-roll header p, li, ul{
  margin: 0;
  padding: 0;
}

.rockn-roll header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rockn-roll header .logo {
  padding: 8px;
  font-size: 50px;
}

@media screen and (min-width: 721px) {
  .rockn-roll header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
.rockn-roll nav {
  display: none;
}

.rockn-roll nav * {
  display: flex;
}

@media screen and (min-width: 721px) {
  .rockn-roll nav {
    display: 1 1 flex;
    display: block;
  }

  .rockn-roll nav li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}