@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&family=DotGothic16&family=Kosugi&display=swap');

html {
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

nav ul li {
    padding: 0 8px;
}

.smartphone-nav>*{
    display: inline-block;
    margin:30px auto;
    text-align: center;
    width: 100%;
}

.smartphone-nav>*>* {
    margin: 20px 0;
}

@media screen and (min-width: 1024px) {
    .smartphone-nav {
        display: none;
    }
}

/* rock */

.rock {
  height: 100%;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'RocknRoll One', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main */
.rock main {
  max-height: 100%;
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

.rock main h1,h2,h3 {
  margin: auto;
}

.rock main h1 {
  font-size: 28vw;
  color: #212121;
}

.rock main h2 {
  font-size: 1.5rem;
  color: #b3b3b3;
}

.rock main .remaining-text {
  display: flex;
}

.rock main h3 {
  font-size: 1.7rem;
  color: #b3b3b3;
}

.rock main .remaining{
  font-size: 8vh;
  color: #f02648;
}

@media screen and (min-width: 1024px) {
  .rock main h1 {
    font-size: 25vw;
  }
  .rock main h2 {
    font-size: 4rem;
  }

  .rock main .remaining{
    font-size: 10vh;
  }
}

/* header */
.rock header p, li, ul{
  margin: 0;
  padding: 0;
}

.rock header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rock header .logo {
  padding: 8px;
  font-size: 50px;
}

@media screen and (min-width: 1024px) {
  .rock header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
.rock nav {
  display: none;
}

.rock nav div {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .rock nav {
    display: 1 1 flex;
    display: block;
  }

  .rock nav>ul>li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}

.rock footer{
    padding-top: 30px;
}

.rock footer p, a {
    font-size: 0.8rem;
    text-align: center;
    color: #b3b3b3;
}

@media screen and (min-width: 1024px) {
    .rock footer p, a{
        font-size: 1rem;
  }
}

/* game */

.game {
  background-color: #3b3bad;
  min-height: 100vh;
  font-family: 'DotGothic16', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main */
.game main {
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

.game main h1,h2,h3 {
  margin: auto;
}

.game main h1 {
  font-size: 30vw;
  color: #f5f5f5
}

.game main h2 {
  font-size: 1.5rem;
  color: #b3b3b3;
}

.game main .remaining-text {
  display: flex;
}

.game main h3 {
  font-size: 1.7rem;
  color: #b3b3b3;
}

.game main .remaining{
  font-size: 8vh;
  color: #f02648;
}

@media screen and (min-width: 1024px) {
  .game main h1 {
    font-size: 27vw;
  }
  .game main h2 {
    font-size: 4rem;
  }

  .game main .remaining{
    font-size: 10vh;
  }
}

/* header */
.game header p, li, ul{
  margin: 0;
  padding: 0;
}

.game header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game header .logo {
  padding: 8px;
  font-size: 50px;
  color: #f5f5f5;
}

@media screen and (min-width: 1024px) {
  .game header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
.game nav {
  display: none;
}

.game nav div {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .game nav {
    display: 1 1 flex;
    display: block;
  }

  .game nav>ul>li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}

.game footer{
    padding-top: 30px;
}

.game footer p, a {
    font-size: 0.8rem;
    text-align: center;
    color: #b3b3b3;
}

@media screen and (min-width: 1024px) {
    .game footer p, a{
        font-size: 1rem;
  }
}

/* normal */
.normal {
  height: 100vh;
  background-color: #f0f0f0;
  font-family: 'Kosugi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main */
.normal main {
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

.normal main h1,h2,h3 {
  margin: auto;
}

.normal main h1 {
  font-size: 30vw;
  color: #212121;
}

.normal main h2 {
  font-size: 1.5rem;
  color: #b3b3b3;
}

.normal main .remaining-text {
  display: flex;
}

.normal main h3 {
  font-size: 1.7rem;
  color: #b3b3b3;
}

.normal main .remaining{
  font-size: 8vh;
  color: #f02648;
}

@media screen and (min-width: 1024px) {
  .normal main h1 {
    font-size: 27vw;
  }
  .normal main h2 {
    font-size: 4rem;
  }

  .normal main .remaining{
    font-size: 10vh;
  }
}

/* header */
.normal header p, li, ul{
  margin: 0;
  padding: 0;
}

.normal header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.normal header .logo {
  padding: 6px;
  font-size: 50px;
}

@media screen and (min-width: 1024px) {
  .normal header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
.normal nav {
  display: none;
}

.normal nav div {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .normal nav {
    display: 1 1 flex;
    display: block;
  }

  .normal nav>ul>li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}

.normal footer{
    padding-top: 30px;
}

.normal footer p, a {
    font-size: 0.8rem;
    text-align: center;
    color: #b3b3b3;
}

@media screen and (min-width: 1024px) {
    .normal footer p, a{
        font-size: 1rem;
  }
}


.reverse {
  height: 100vh;
  background-color: #212121;
  font-family: 'Kosugi', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* main */
.reverse main {
  text-align: center;
  margin: auto 0 auto auto;
  display: block;
}

.reverse main h1,h2,h3 {
  margin: auto;
}

.reverse main h1 {
  font-size: 30vw;
  color: #ededed;
}

.reverse main h2 {
  font-size: 1.5rem;
  color: #b5b5b5;
}

.reverse main .remaining-text {
  display: flex;
}

.reverse main h3 {
  font-size: 1.7rem;
  color: #b5b5b5;
}

.reverse main .remaining{
  font-size: 8vh;
  color: #f02648;
}

@media screen and (min-width: 1024px) {
  .reverse main h1 {
    font-size: 27vw;
  }
  .reverse main h2 {
    font-size: 4rem;
  }

  .reverse main .remaining{
    font-size: 10vh;
  }
}

/* header */
.reverse header p, li, ul{
  margin: 0;
  padding: 0;
}

.reverse header {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reverse header .logo {
  padding: 6px;
  font-size: 50px;
}

@media screen and (min-width: 1024px) {
  .reverse header {
    padding: 10px;
    justify-content: space-between;
    align-items: center;
  }
}

/* nav */
.reverse nav {
  display: none;
}

.reverse nav div {
  display: flex;
}

@media screen and (min-width: 1024px) {
  .reverse nav {
    display: 1 1 flex;
    display: block;
  }

  .reverse nav>ul>li {
    align-items: center;
    float: left;
    list-style-type: none;
  }
}

.reverse footer{
    padding-top: 30px;
}

.reverse footer p, a {
    font-size: 0.8rem;
    text-align: center;
    color: #b3b3b3;
}

@media screen and (min-width: 1024px) {
    .reverse footer p, a{
        font-size: 1rem;
  }
}